body, th, td, input, select,
textarea, button {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif, AppleGothic,Dotum,"돋움",sans-serif;
    letter-spacing: -0.5px;
    color: #000;

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
}
a {
    color: #333;
    text-decoration: none;
}

#header {
    position: relative;
}

dl, ul, ol, li {
    list-style: none;
}

#header .h1_logo {
    text-align: center;
}

body #header .header_top {
    height: 36px;
    width: 1060px;
    display: block;
    margin: 0 auto;
}

body #header .header_top .header_top_cont ul.top_member_box {
    float: right;
    margin: 0 0;
    list-style-type: none;
    line-height: 1;
}

.top_member_box > li {
    float: left;
    position: relative;
    
}

body #header .top_member_box > li a {
    padding: 12px 5px;
    color: #444;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
}


body #header .header_search {
    background-color: red;
    width: 1060px;
    border: none;
    background: #fff;
    margin: 0 auto;
}

body #header .header_search .header_search_cont {
    position: relative;
    width: auto;
    margin: 0;
    min-height: 80px;
}

body #header .header_search .header_search_cont .h1_logo {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    max-height: 34px;
}

body #header .header_search .header_search_cont .h1_logo a img {
    max-height: 54px;
}

body #header .header_search .header_search_cont .headSearch {
    position: absolute;
    width: 400px;
    height: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 2;
}

body #header .top_search legend {
    display: none;
}

body #header .top_search .top_text_cont .top_srarch_text {
    width: 100%;
    height: 33px;
    padding: 5px 45px 5px 15px;
    box-sizing: border-box;
}

body #header .top_search .top_text_cont .top_srarch_text {
    padding: 0 45px 0 20px;
    height: 48px;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #9c6005;

}

body #header .top_search .top_text_cont .btn_top_srarch {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #eeeeee;
}

body #header .top_search .top_text_cont .btn_top_srarch {
    border:none;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 17px;

}

body #header .headBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 50px;
    text-align: right;
    margin: auto;
}

body #header .headBtn ul li {
    width: 55px;
    height: 50px;
    cursor: pointer;
    float: left;
    text-align: center;
    
}

body #header .mypageBtn {
    background-image: url("/image/icon_heart_ku.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

body #header .cartBtn {
    background-image: url("/image/icon_cart_ku.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}



body #header #gnb {
    text-align: center;
    background: #fff;
    box-shadow: rgb(0, 0, 0, 0.2) 0px 3px 4px 0px;
    width: 100%;
}

body #header #gnb .gnb {
    text-align: center;
    margin: 0 auto;
}

#header .gnb {
    position : relative;
    width: 1060px;
}

body #header #gnb .allMenu {
    position: absolute;
    left: 0;
    bottom: 0;
}

body #header #gnb .allMenu .switch {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 22px 0 30px;
    font-size: 16px;
    font-weight: 500;
    background: url(/image/icon_cateall.svg) no-repeat 0 22px;
}

body #header #gnb .centerMenu {
    display: inline-block;
    font-size: 0;
}

body #header #gnb .centerMenu ul {
    margin: 0;
    padding: 0;
}

body #header #gnb .centerMenu ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

body .centerMenu ul li a {
    display: block;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 500;
}


