body, th, td, input, select,
textarea, button {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif, AppleGothic,Dotum,"돋움",sans-serif;
    letter-spacing: -0.5px;
    color: #000;

}

a {
    color: #333;
    text-decoration: none;
}

#header {
    position: relative;
}

dl, ul, ol, li {
    list-style: none;
}

#header .h1_logo {
    text-align: center;
}

body #header .header_top {
    height: 36px;
    width: 1060px;
    display: block;
    margin: 0 auto;
}

body #header .header_top .header_top_cont ul.top_member_box {
    float: right;
    margin: 0 0;
    list-style-type: none;
    line-height: 1;
}

.top_member_box > li {
    float: left;
    position: relative;
    
}

body #header .top_member_box > li a {
    padding: 12px 5px;
    color: #444;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
}


body #header .header_search {
    background-color: red;
    width: 1060px;
    border: none;
    background: #fff;
    margin: 0 auto;
}

body #header .header_search .header_search_cont {
    position: relative;
    width: auto;
    margin: 0;
    min-height: 80px;
}

body #header .header_search .header_search_cont .h1_logo {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    max-height: 34px;
}

body #header .header_search .header_search_cont .h1_logo a img {
    max-height: 54px;
}

body #header .header_search .header_search_cont .headSearch {
    position: absolute;
    width: 400px;
    height: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 2;
}

body #header .top_search legend {
    display: none;
}

body #header .top_search .top_text_cont .top_srarch_text {
    width: 100%;
    height: 33px;
    padding: 5px 45px 5px 15px;
    box-sizing: border-box;
}

body #header .top_search .top_text_cont .top_srarch_text {
    padding: 0 45px 0 20px;
    height: 48px;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #9c6005;

}

body #header .top_search .top_text_cont .btn_top_srarch {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #eeeeee;
}

body #header .top_search .top_text_cont .btn_top_srarch {
    border:none;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 17px;

}

body #header .headBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 50px;
    text-align: right;
    margin: auto;
}

body #header .headBtn ul li {
    width: 55px;
    height: 50px;
    cursor: pointer;
    float: left;
    text-align: center;
    
}

body #header .mypageBtn {
    background-image: url("/image/icon_heart_ku.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

body #header .cartBtn {
    background-image: url("/image/icon_cart_ku.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

 

  /*  상단 카테고리  */
body #header #gnb {
    text-align: center;
    background: #fff;
    box-shadow: rgb(0, 0, 0, 0.2) 0px 3px 4px 0px;
}

body #header #gnb .gnb {
    text-align: center;
    margin: 0 auto;
}

#header .gnb {
    position : relative;
    width: 1060px;
}

body #header #gnb .allMenu {
    position: absolute;
    left: 0;
    bottom: 0;
}

body #header #gnb .allMenu .switch {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 22px 0 30px;
    font-size: 16px;
    font-weight: 500;
    background: url(/image/icon_cateall.svg) no-repeat 0 22px;
}

body #header #gnb .centerMenu {
    display: inline-block;
    font-size: 0;
}

body #header #gnb .centerMenu ul {
    margin: 0;
    padding: 0;
}

body #header #gnb .centerMenu ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

body .centerMenu ul li a {
    display: block;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 500;
}
/* 전체 카테고리 설정 */
.switch_submenu {
    display: none;
    position: absolute;
    left: 0 !important;
    top: 56px;
    z-index: 2;
    z-index: 100;
}

.switch_submenu > ul {
    position: relative;
    display: inline-block;
    background: #fff;
    border: solid 1px #ddd;
    width: 120px;
    padding: 0;
}
.allMenu>li:hover .switch_submenu  {
    display: block;
}   

.switch_submenu ul>li:hover .sub_delth1 {
    display: block;
   
}

.switch_submenu ul>li:hover {
    background-color: #f2f2f2;
}

.switch .sub_delth1, .sub_delth2 {
    display: none; 
    position: absolute;
    background-color: white;
    border: solid 1px #ddd;
    left: 100%;
    padding: 0;
    width: 130px;
    height: 225px;
    top: -1px;
}
/* 전체 카테고리 끝 */



/* 브라우저 마진과 패딩 리셋 */
* {margin:0;padding:0;}


/* 상품 및 상품 영역 */

.main_content {
    width: 1060px;
    position: relative;
    margin: 0 auto;
}

/*   상단 배너 ,이벤트 슬라이드 */
.goods_list_cont_1 {padding: 0px 0px 0px 45px}
.goods_list_tit >h3 {padding: 20px 0px 20px 0px;}

/* 이벤트 슬라이드 버튼 컨트롤*/
.visual_0, .visual_1, .visual_2 { position: relative;}
.visual_0 button, .visual_1 button, .visual_2 button, .visual_3 button {
    position: absolute; z-index: 10; top: 50%; transform:translateY(-50%);
    width: 50px; height: 50px; border-radius: 100%; border: none; background: white; }
.visual_0 button::before, .visual_1 button::before, .visual_2 button::before, .visual_3 button::before{
    font-family: 'xeicon'; color: black; font-size: 30px;}

.visual_1 button.slick-prev, .visual_2 button.slick-prev, .visual_3 button.slick-prev {
    left: -25px; font-size: 0; color: transparent;}
.visual_0 button.slick-prev{
    left: 50px; font-size: 0; color: transparent;}

.visual_0 button.slick-prev:before, .visual_1 button.slick-prev:before, .visual_2 button.slick-prev:before, .visual_3 button.slick-prev:before {
    content: "\e93d"; }
.visual_0 button.slick-next,  .visual_1 button.slick-next, .visual_2 button.slick-next, .visual_3 button.slick-next {
    right: 25px; font-size: 0; color: transparent;}
.visual_0 button.slick-next {
    right: 50px; font-size: 0; color: transparent;}
.visual_0 button.slick-next::before, .visual_1 button.slick-next::before, .visual_2 button.slick-next::before, .visual_3 button.slick-next::before {
    content: "\e940"; }

.visual_0, .visual_1, .visual_2, .visual_3 #slick-slide-control00, #slick-slide-control01, #slick-slide-control03, #slick-slide-control02 {
    display: none;}


.visual_1 .slick-slide {width: 265px;}

body .item_price span {display: block;}

.photo_box, .item-info-cont {display: inline-block;}


/* footer */


dl, ul, ol, li {
    list-style: none;
}

a {
	text-decoration: none;
}



/* 풋터 */
#footer_wrap{position:relative; border-top:1px solid #e3e3e3;}
#footer{overflow:hidden; padding:0 0 40px 0;}
/* 풋터 메뉴 */
.foot_list{border-bottom:1px solid #e3e3e3; line-height:1;}
.foot_list ul{overflow:hidden; width:1200px; margin:0 auto;}
.foot_list ul li{float:left; padding:15px 0 15px 0;}
.foot_list ul li a{padding:0 15px 0 14px; color:#717171; border-left:1px solid #e0e0e0;}
.foot_list ul li:first-child a{padding-left:0; border-left:0 none;}



#footer {
    padding: 0;
}

#footer_wrap {
    border-color: #343434;
    padding: 0;
}

.foot_list ul {
    width: auto;
}

.foot_list ul li,
.foot_list ul li a {
    padding: 0;
}

.foot_list ul.company-menu li {
    margin-right: 43px;
}

.foot_list ul.company-menu li a {
    font-size: 12px;
    color: #1f1f1f;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 51px;
}

.foot_list ul.sns-menu li {
    margin-right: 5px;
    line-height: 51px;
}

.foot_list ul.sns-menu li img {
    vertical-align: middle;
}

.footer_wrap {
	display: inline-block;
}

.footer-bottom .container>div {
    box-sizing: border-box;
    position: relative;
    margin-top: 37px;
    margin-bottom: 50px;
}

.footer-bottom .container>div:after {
    content: "";
    display: block;
    width: 1px;
    height: 138px;
    background: #dfdfdf;
    position: absolute;
    top: 0;
    right: 0;
}

.footer-bottom .container>div:last-child:after {
    display: none;
}

.footer-bottom .cs-center {
    width: 271px;
}

.footer-bottom .bank-account {
    width: 300px;
    padding-left: 34px;
}

.footer-bottom .community {
    width: 299px;
    padding: 0px 34.5px 0px 31.5px;
}

.footer-bottom .company-info {
    width: 370px;
    padding-left: 33px;
}

.footer-bottom .box-title {
    margin-bottom: 17px;
}

.footer-bottom .box-title p {
    font-size: 15px;
    color: #0a0a0a;
    line-height: 1;
    font-weight: 600;
        
}

.footer-bottom .tel strong {
    font-size: 23px;
    color: #0a0a0a;
    line-height: 1;
    display: block;
    font-weight: 600;
        
    margin-bottom: 6px;
}

.footer-bottom .info p,
.footer-bottom .info a {
    line-height: 1.7;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    border: none;
}

.footer-bottom .info p.last {
    margin-top: 8px;
}

.footer-bottom .info p span {
    margin-right: 13px;
}

.footer-bottom ul.list {
    margin-top: -5px;
}

.footer-bottom ul.list li {
    width: 111px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    margin: 5px 2.5px 0px;
    text-align: center;
    border-radius: 2px;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}

.footer-bottom ul.list li:hover {
    border-color: #4d4d4d;
}

.footer-bottom ul.list li a {
    display: block;
    font-size: 11px;
    color: #555;
}

.copyright {
    background: #f6f6f6;
}

.copyright p {
    font-size: 11px;
    color: #555;
    line-height: 45px;
        
}

.copyright p span {
    color: #56b9d9;
}

.foot_certify {
    display: none;    
}



/* sub_site Css */

.sub_content {
    width: 100%;
    min-height: 100%;
    padding: 45px 0px 0px 0px;
}


.sub_content .left_wing {
    position: absolute;
}

.sub_content .container relative clearfix {
    margin: 0 auto;
    width: 1240px;
    position: relative;
}

